<body>
    {{!-- <div class="full-page"> --}}
        <div class ="game-lay">
        <header>
            <h3>Use your psychic abilities to read the opponents mind</h3>
            <button id="btn-el">Clairvoyance Activate</button>
          </header>
          
        <div class ="font-lay">
          <main>
            <section>
              <div id="guessword-el">Can You Defeat Me?</div>
            </section>
        
            <section>
              <div>Time Left:</div>
              <div id="time-el">30</div>
            </section>
          </main>
          </div>
        </div>
    {{!-- </div> --}}
          {{!-- <script src="../../../example/hangmanEX.js"></script> --}}
            <script src="/js/fight.js"></script>
            <script src="/js/bootstrap.bundle.min.js"></script>
          
</body>