<body>
    {{!-- <div class="full-page"> --}}
        <div class ="game-lay">
        <header>
            <h3>Use your psychic abilities to read the opponents mind</h3>
            <button id="btn-el">Clairvoyance Activate</button>
          </header>
          
        <div class ="font-lay">
          <main>
            <section>
              <div id="guessword-el">Can You Defeat Me?</div>
            </section>
        
            <section>
              <div>Time Left:</div>
              <div id="time-el">30</div>
            </section>
          </main>
          </div>
        </div>

    </div> 
    <div>
      <h6 id="charname" style="color: white;"></h6>
      <p id="classDisplay" style="color: white;"></p>
      <p id="hpDisplay" style="color: white;"></p>
      <p id="attDisplay" style="color: white;"></p>
      <p id="defDisplay" style="color: white;"></p>
    </div>

      <div>
      <h6 id="charnameMonster" style="color: white;"></h6>
      <p id="classDisplayMonster" style="color: white;"></p>
      <p id="hpDisplayMonster" style="color: white;"></p>
      <p id="attDisplayMonster" style="color: white;"></p>
      <p id="defDisplayMonster" style="color: white;"></p>
    </div>
          {{!-- <script src="/js/fight.js"></script> --}}
          <script src="/js/bootstrap.bundle.min.js"></script>
          <script src="/js/fighthangman.js"></script>
          

    {{!-- </div> --}}
          
</body>