  {{!-- <body class="background-element"> --}}
    
 <img class ="logo" src='/img/LOGO.png' alt="char">
       
        <header>
            
            <button id="btn-el" class="butPlay">PLAY NOW</button>
          </header> 
 
