*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.full-page
{
    height: 100%;
	width: 100%;
	background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(../img/bossroom1.gif);
	background-position: center;
	background-size: cover;
	position: absolute;
    z-index: -3;
}

/* NAVBAR */
.navbar
{
    display: flex;
    align-items: center;
    padding: 20px;
    padding-left: 50px;
    padding-right: 30px;
    padding-top: 50px;
}
nav
{
    flex: 1;
    text-align: right;
}
nav ul 
{
    display: inline-block;
    list-style: none;
}
nav ul li
{
    display: inline-block;
    margin-right: 70px;
} 

nav ul li a
{
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-family: sans-serif;
}
nav ul li button
{
    font-size: 20px;
    color: white;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
    font-family: sans-serif;
}
nav ul li button:hover
{
    color: aqua;
}
nav ul li a:hover
{
    color: aqua;
}
a
{
    text-decoration: none;
    color: palevioletred;
    font-size: 28px;
}

/* GAME LAYOUT */
.game-lay{
    font-size: 30px;
    color: white;
    position: absolute;
	left: 30%;
	bottom: 50%;
	z-index: 10;
    font-family: 'Bungee Inline', cursive;
    font-family: 'MedievalSharp', cursive;

}
.font-lay{
    align-items: center;
	bottom: 10px;
    font-size: 30px;
    font-weight: bolder;
    position: relative;
    top: 50px; 
    left: 270px;
    
}

#btn-el {
    font-family: 'Bungee Inline', cursive;
    font-family: 'MedievalSharp', cursive;
    bottom: 10px;
    font-size: 30px;
    font-weight: bolder;
    position: relative;
    top: 25px; 
    left: 260px;
    background: gray;
}

/* Character vs Monster */
.character2{
    position: absolute;
    width: 500px;
    height: 500px;
    top:350px;
    left:50px;
    

}

.monster2{
    position: absolute;
    width: 600px;
    height: 600px;
    top: 250px;
    left: 1200px;
    z-index: -10;

}

.content{
    top: 280px;
    bottom: 80px;
    

}
#object1{
    
    position: absolute;
    top: -300px;
    left: -0px;
    /* position: relative; */
}

#path1{
    top: 100px;
    stroke-width: 50px;
    stroke-dasharray: 12,12;
  }