<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=MedievalSharp&display=swap');
    </style>
    <title>Psychic Journey</title>
    <link rel ="shortcut icon" type ="image/png" href="../../../public/img/PJ-logo.png">
    <link rel="stylesheet" href="../../../public/css/game3.css">
    
    <!---we had linked our css file----->
</head>
<body>
    <div class="full-page">
        <div class="navbar">
            <div>
                <a href='index.html'>Psychic Journey</a>
            </div>
        </div>
        <div id="#content">
          <div id="object1">🔥</div>
          <svg id="svg-path" width="500px" height="200px">
            <path id="path1"
              stroke="#03a9f4"
              fill="none"
              d="M 3 304 L 999 299"
            />
          </svg>
        </div>
        <img class ="character2" src='../../../public/img/themage1.png' alt="char">
        <img class ="monster2" src='../../../public/img/eyeballman.png' alt="monst">
        <div class ="game-lay">
        <header>
            <h3>Use your psychic abilities to read the opponents mind</h3>
            <button id="btn-el">Clairvoyance Activate</button>
          </header>
          
        <div class ="font-lay">
          <main>
            <section>
              <div id="guessword-el">Can You Defeat Me?</div>
            </section>
        
            <section>
              <div>Time Left:</div>
              <div id="time-el">30</div>
            </section>
          </main>
          </div>
        </div>
          <script src="../../../example/hangmanEX.js"></script>

          
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
<script type="text/javascript">
  let path = anime.path("#svg-path path");
  anime({
    targets: "#object1",
    translateX: path("x"),
    translateY: path("y"),
    duration: 1000,
    easing: "linear",
    // loop: false,
  });
</script>
</html>
        
</html>

        