<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=MedievalSharp&display=swap');
    </style>
    <title>Psychic Journey</title>
    <link rel ="shortcut icon" type ="image/png" href="../../../public/img/PJ-logo.png">
    <link rel="stylesheet" href="../../../public/css/introscreen1.css">
    
    <!---we had linked our css file----->
</head>
<body>
    <div class="full-page">
        <img class ="logo" src='../../../public/img/LOGO.png' alt="char">
        
        <header>
            
            <button id="btn-el">PLAY NOW</button>
          </header>
      </div>
          
       

     
        
 

</body>
</html>
        